/* Add here all your CSS customizations */
.ft-sm {
	font-size: 50%;
}
.ft-md {
	font-size: 75%;
}
.ft-lg {
	font-size: 125%;
}
.ft-xlg { 
	font-size: 150%;
}

.white {
	color: white;
}

.mt-xlg {
	margin-top: 30px !important;
}

.mt-xxlg {
	margin-top: 50px !important;
}

.mt-xxxlg {
	margin-top: 70px !important;
}

.mt-tlg {
	margin-top: 100px !important;
}